@import "tailwindcss";

@plugin 'tailwind-scrollbar';

:root {
    --parakeet: #27f795;
}

.hover\:text-parakeet:hover {
    color: var(--parakeet)
}

html {
    @apply scrollbar scrollbar-thumb-gray-600 scrollbar-track-gray-800;
}

body {
    @apply bg-gray-900 text-gray-300;
}

table th {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider;
}

table td {
    @apply px-6 py-3 whitespace-nowrap text-base font-mono text-gray-300;
}

table td:first-child {
    @apply font-medium text-gray-100;
}

table thead {
    @apply bg-gray-700;
}

table tbody {
    @apply bg-gray-800 divide-y divide-gray-700;
}

table tbody tr {
    @apply hover:bg-gray-700;
}

